{% extends 'base.html' %}



{% block content %}
<div class="container mt-5">
    {% include 'partials/_alerts.html' %}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Deletar Item #{{object.id}}</h5>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="alert alert-warning" role="alert">
                Tem certeza que deseja deletar o Item: <strong>{{ object }}</strong> ?
            </div>
            {% if messages %}
                <button type="submit" class="btn btn-danger" disabled>Deletar</button>
            {% else %}
                <button type="submit" class="btn btn-danger">Deletar</button>
            {% endif %}
        </form>
    </div>
</div>
</div>
{% endblock %}