{% extends 'base.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
<div class="container col-6 mt-5">
    <div class="mt-5">
        {% include 'partials/_alerts.html' %}
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Atualizar Item #{{item.id}}</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="text-center">
                    <label for="foto_do_item">Imagem atual do produto:</label>
                    <img id="foto_do_item" src="{{foto}}" width="300" class="border border-dark border-2 rounded">
                    </div>
                    {{form.as_p}}
                    {% if messages %}
                        <button type="submit" class="btn btn-success" disabled>Atualizar</button>
                    {% else %}
                        <button type="submit" class="btn btn-success">Atualizar</button>
                        <label for="id_imagem">Selecione uma nova imagem, ou deixe em branco para manter a atual.</label>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
