{% extends 'base.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
<div class="container col-6 mt-5">
    <div class="mt-5">
        {% include 'partials/_alerts.html' %}
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Atualizar Item #{{item.id}}</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <img src="{{foto}}" alt="">
                    {{form.as_p}}
                    {% if messages %}
                        <button type="submit" class="btn btn-success" disabled>Atualizar</button>
                    {% else %}
                        <button type="submit" class="btn btn-success">Atualizar</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}