{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container col-6 mt-5">

{% for item in itens %}

    <div class="card col" style="width: 18rem;">
        <img src="{% static item.imagem %}" class="card-img-top" alt="Imagem do Produto não encontrada">
        <div class="card-body">
            <h5 class="card-title">{{item.nome}}</h5>
            <p class="card-text">R${{item.valor}}</p>
            <div>
                <a href="{% url 'detalhe-item' item.id %}" class="btn btn-primary">Ver detalhes</a>
                Vendido por: {{item.vendedor}}
            </div>
        </div>
    </div>

{% endfor %}
</div>
{% endblock %}