{% extends 'base.html' %}

{% block content %}
<div class="container col-8">
    <table class="table">
        <tr>
            <thead class="thead-light">
                <tr>
                    <th>img</th>
                    <th>nome</th>
                    <th>valor</th>
                    <th>quantidade/disponivel</th>
                    <th>vendedor</th>
                    <th>info</th>
                    <th>remove</th>
                </tr>
            </thead>
            <tbody>
                {% for item in itens %}
                <tr>
                    <td><img src="/media/{{item.item.imagem}}" alt="not found" width="100"></td>
                    <td>{{item.item.nome}}</td>
                    <td>{{item.item.valor}}</td>
                    <td>{{item.quantidade}} / {{item.item.quantidade}}</td>
                    <td>{{item.item.vendedor}}</td>
                    <td><a href="/loja/{{item.id}}" type="button" class="btn btn-info">Info</a></td>
                    <td><a href="" type="button" class="btn btn-danger">Remove</a></td>
                </tr>
                {% endfor %}
                <td><a type="button" class="btn btn-success" href="">Continuar compra</a></td>
            </tbody>
    </table>
</div>
{% endblock %}