{% extends 'base.html' %}

{% block content %}
<div class="container col-8">
    <table class="table">
        <tr>
            <thead class="thead-light">
                <tr>
                    <th>img</th>
                    <th>nome</th>
                    <th>valor</th>
                    <th>quantidade/disponivel</th>
                    <th>vendedor</th>
                    <th>info</th>
                    <th>remove</th>
                </tr>
            </thead>
            <tbody>
                {% for cart_item in itens %}
                <tr>
                    <td><img src="/media/{{cart_item.loja_item.imagem}}" alt="not found" width="100"></td>
                    <td>{{cart_item.loja_item.nome}}</td>
                    <td>{{cart_item.loja_item.valor}}</td>
                    <td>{{cart_item.quantidade_compra}} / {{cart_item.loja_item.quantidade}}</td>
                    <td>{{cart_item.loja_item.vendedor}}</td>
                    <td><a href="/loja/{{cart_item.loja_item.id}}" type="button" class="btn btn-info">Info</a></td>
                    <td><a href="{% url 'remove_from_cart' cart_item.id %}" type="button" class="btn btn-danger">Remove</a></td>
                </tr>
                {% endfor %}
                <td><a type="button" class="btn btn-success" href="">Continuar compra</a></td>
            </tbody>
    </table>
</div>
{% endblock %}