<!DOCTYPE html>
<html> {% load static %}
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'head_bar.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <title id="title">{% block title %}{% endblock %}</title>
    {% block head %}
    
    {% endblock %}
</head>

<body>
    <div id="headbar">
        <div id="usuario"> {{ usuario }} </div>
        <ul>
            <li><a href="/index/" class="index_page">Home</a></li>
            <li><a href=" {% static 'logoff' %} ">Logoff</a></li>

            <div id="list"></div>
            <script>
                var page = document.getElementById('title').innerText
                if (page === 'Home'){
                    // document.getElementsByClassName('index_page').id = 'active'
                    console.log(document.getElementsByClassName('index_page'))
                }
                else{
                    console.log(page + ' else')
                }
                var usuario = document.getElementById('usuario').innerText
                document.getElementById('usuario').innerHTML = ""
                if (usuario == 'AnonymousUser'){
                    document.getElementById('list').innerHTML = 
                    '<li><a href="/user/login/">Login</a></li>'
                }
                else{
                    document.getElementById('list').innerHTML=
                    '<li><a href="/user/login/">Logado como: {{ usuario }}</a></li>'
                }
            </script>


        </ul>
        
    </div>

    <div id="content">
        {% block content %}

        {% endblock %}
    </div>

</body>
</html>
