<!DOCTYPE html>
<html lang="pt-br"> {% load static %}
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'head_bar.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <title id="title">{% block title %}{% endblock %}</title>
    {% block head %}

    {% endblock %}
</head>

<body>
    <div id="usuario">{{ usuario }}</div>
    <div id="superuser">{{superuser}}</div>
    <ul id="list">
        <script type="text/javascript" src="{% static 'headbar.js' %}"></script>
    </ul>

    <div id="content">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>
