{% extends 'base.html' %}
{% load static %}


{% block title %}Alterar cadastro{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'user_app/user_page.css' %}">
{% endblock %}


{% block content %}
<h1>Alterar cadastro</h1>

<ul id="userinfolist">
    <form method="POST">
        {% for x in form %}
        <li>
            {{x}}
        </li>
        {% endfor %}
        {% if errors %}
        <div id="senhaincorreta" class="errorlist"></div>
        {% endif %}
        {% csrf_token %}
        <input type="submit" value="enviar">
    </form>
</ul>
<script type="text/javascript" src="{% static 'user_app/alter_user_page.js' %}"></script>
{% endblock %}