{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block head %}
<!-- <link rel="stylesheet" href="{% static 'user_app/signup_page.css' %}"> -->
{% endblock %}


{% block title %}Sign up{% endblock %}

{% block content %}
<main class="form-signin translate-middle position-absolute top-50 start-50 text-center" style="max-height: 70%;">
    <form method="POST">
        <img class="mb-4" src="{% static 'img/logo.png' %}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 fw-normal">Entre com suas informações para um novo cadastro</h1>
        {%include 'partials/_alerts.html'%}
        {% for field in form.visible_fields %}
            <div class="form-floating">
                    {{field}}
                    {{field.label_tag}}
            </div>
        {% for error in field.errors %}
                <section class="alert alert-danger" role="alert">
                {{field.errors}}
                </section>
        {% endfor %}
        {% endfor %}

        {% csrf_token %}
        <button class="w-100 btn btn-lg btn-primary mt-5" type="submit">Entrar</button>
        <p class="mt-5 mb-3 text-muted">© Eshop</p>
    </form>
</main>
{% endblock %}
