ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fdee64;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
.LoginOut{
  float: right;
}

a #login{
  float: right;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(255, 250, 183);
  color: rgb(34, 34, 34);
}

.active {
  background-color: rgb(238, 229, 150);
}

.active:hover{
  background-color: #b9aa80;
}