<li>
    <strong>Usuário:</strong> {{ usuario }}
</li>
<li>
    <div id="nome">
        <strong>Nome:</strong> {{ nome }}
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="button" id="nomeBtn" value="Alterar">
        </form>
    </div>
</li>
<li>
    <div id="sobrenome">
        <strong>Sobrenome (corrigir):</strong> {{ sobrenome }}
        <form method="POST">
            {% csrf_token %}
            {{ senhaform }}
            <input type="button" id="senhaBtn" value="Alterar">
        </form>
    </div>
</li>
<li>
    <strong>E-mail:</strong> {{ email }}
    <input type="button" value="Alterar" id="email"></input>
</li>
<li>
    <strong>Senha:</strong> {{ senha }}
    <input type="button" value="Alterar" id="senha"></input>
</li>