{% extends 'base.html' %}
{% load static %}

{% block title %}User Info{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'user_app/user_page.css' %}">
{% endblock %}


{% block content %}
<h1>User info</h1>

<ul id="userinfolist">
    <li><strong>Usuário:</strong> {{ usuario }}</li>
    <li><strong>Nome completo:</strong> {{ nome }}</li>
    <li><strong>E-mail:</strong> {{ email }}</li>
    <li><strong>Data de cadastro:</strong> {{ data_cadastro }}</li>
    <li><strong>Último login:</strong> {{ ultimo_login }}</li>
    <li><strong>Senha:</strong> {{ senha }}</li>
</ul>
<a href="/user/alterinfo">Alterar informações</a>
{% endblock %}