{% extends 'base.html' %}



{% block content %}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Detalhe do Item #{{item.id}}</h5>
    </div>
    <div class="card-body">
    <dl class="row">
    <dt class="col-sm-3">Nome do Item</dt>
    <dd class="col-sm-9">{{ item.nome }}</dd>
    <dt class="col-sm-3">Descrição do Item</dt>
    <dd class="col-sm-9">{{ item.descricao }}</dd>
    <dt class="col-sm-3">Valor do Item</dt>
    <dd class="col-sm-9">{{ item.valor }}</dd>
    <dt class="col-sm-3">Quantidade do Item</dt>
    <dd class="col-sm-9">{{ item.quantidade }}</dd>
    </dl>
    </div>
</div>
{% endblock %}