{% extends 'base.html' %}



{% block content %}
<div class="container">
<table class="table">
    <tr>
        <thead class="thead-light">
            <tr>
                <th scope="col">nome</th>
                <th scope="col">desc</th>
                <th>valor</th>
                <th>quantidade</th>
            </tr>
        </thead>
        <tbody>
            {% for item in itens %}
            <tr>
                <td>{{item.nome}}</td>
                <td>{{item.descricao}}</td>
                <td>{{item.valor}}</td>
                <td>{{item.quantidade}}</td>
                <td><button type="button" class="btn btn-info"><a href="/loja/{{item.id}}">Info</a></button></td>
                <td><button type="button" class="btn btn-warning"><a href="/loja/{{item.id}}/update">Update</a></button></td>
                <td><button type="button" class="btn btn-danger"><a href="/loja/{{item.id}}/delete">Delete</a></button></td>
            </tr>
            {% endfor %}
            <td><button type="button" class="btn btn-success"><a href="/loja/create">Create</a></button></td>
        </tbody>
</table>
</div>
{% endblock %}