h1{
    text-align: center;
}

.login_form{
    width: 25%;
    height: auto 115%;
    margin: auto;
    margin-top: 120px;
    text-align: left;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: solid rgba(77, 77, 255, 0.164);
    box-shadow: rgba(0, 0, 0, 0.596);
}


input{
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    margin-top: 10px;
    margin-left: 8px;
    border: 2px solid rgb(221, 221, 221);
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 10px;
}

label{
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    margin-top: 10px;
}

*, *:before, *:after{
    box-sizing: border-box;
}

.errorlist{
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    text-decoration: none;
    background-color: transparent;
    color: red;
}